/*!
Theme Name: Cafetora
Theme URI: https://bitbucket.org/devshuvo/cafetora
Bitbucket Theme URI: https://bitbucket.org/devshuvo/cafetora
Author: AWEB-Squad
Author URI: https://a-web.org
Description: Cafetora is a One Page HTML Template for Cafe, Restaurants and Food Product Seller. It can be easily customized as it is well documented and developed using latest web technologies. Cafetora is professionally designed following w3 coding standard. No custom coding required.
Version: 1.0.04
Text Domain: cafetora
License: Themeforest Licence
License URI: http://themeforest.net/licenses
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/

/*------------------------------------------------------------------

* This file contains the styling for this theme. 
* If you want to change any style of the theme please consider using Child Theme.

-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[TABLE OF CONTENTS]

	01. Global Styles
    02. Preloaders
    03. Buttons
    04. Intro Section
    05. Header Section
		5.1. Header and Sticky Bar
		5.2. Logo
		5.3. Main Menu
    06. About Us Section
    07. Our Menu Section
    08. Gallery Section
    09. Our Team Section
	10. Video Section
	11. Testimonial Section
    12. Blog Section
	13. Booking Form Section
	14. Google Map Section
    15. Footer Area
	16. Copyright
    17. Responsive CSS

-------------------------------------------------------------------*/

/*-----------------------------
 1. Global Styles 
-------------------------------*/
body {
    color: #333333;
    font-family: 'Lora', serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya', serif;
    margin: 0;
    font-weight: 700;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 20px 0;
}

.modal-dialog {
    max-width: 800px;
}

.modal-body {
    padding: 30px;
}

.modal-content {
    border: none;
    border-radius: 0px;
}

.cafetora-overlay {
    position: relative;
}

.cafetora-overlay:before {
    background-color: #000;
    content:"";
    height:100%;
    left:0;
    opacity:0.6;
    position: absolute;
    top:0;
    width:100%;
}

.cafetora-overlay-white {
    position: relative;
}

.cafetora-overlay-white:before {
    background-color: #ffffff;
    content:"";
    height:100%;
    left:0;
    opacity:0.9;
    position: absolute;
    top:0;
    width:100%;
}

.section-heading {
    display: block;
    margin-bottom: 60px;
    text-align: center;
}

.section-heading h1 {
    font-size: 55px;
}

.section-heading.dark h1 {
    color: #ffffff;
}

.section-border {
    background: #B50405;
    height: 5px;
    margin: 15px auto 0;
    width: 85px;
}

.small-border {
    background: #B50405;
    height: 3px;
    margin: 25px 0;
    width: 45px;
}

.section-gray {
    background-color: #efefef;
}

.section-padding {
    padding: 100px 0;
}

.subtitle {
    color: #B50405;
    display: inline-block;
    font-family: 'Alegreya', serif;
    font-style: italic;
    font-weight: bold;
}


/* -------------------------------------- */
/* 1.1. WP General
/* -------------------------------------- */
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.gallery-caption {
    padding-top: 10px;
}

.bypostauthor {
    display: block;
}

pre {
    padding: 9.5px;
    margin: 0 0 10px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    max-width: 150px;
    border-bottom: 0;
}

table, .table {
    width: 100%;
}
table>tbody>tr, .table>tbody>tr {
    border-bottom: 1px solid #eee;
}
table>tbody>tr>th, table>tfoot>tr>th, table>thead>tr>td, table>tbody>tr>td, table>tfoot>tr>td, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 12px 8px;
    vertical-align: middle;
}
table.table-borderless>tbody>tr, .table.table-borderless>tbody>tr {
    border: 0;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}
.sidebar .textwidget {
    padding-left: 20px;
}
/*-----------------------------
2. Preloaders
-------------------------------*/
.spinner {
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
  background-color: #ffffff;
  border-radius: 100%;  
  height: 40px;
  margin: 100px auto;
  width: 40px;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.cafetora-site-preloader-wrap {
    background: #B50405 none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
}
.cafetora-site-preloader-wrap .spinner {
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
}

/*-----------------------------
3. Buttons
-------------------------------*/

.cafetora-small-btn {
    -webkit-transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: color;
    background: #B50405;
    border-radius: 0;
    border: none;
    color: #ffffff;
    margin-top: 10px;
    padding: 5px 15px;
    position: relative;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: color;
}

.cafetora-small-btn:before {
  -webkit-transform-origin: 0 50%;
  -webkit-transform: scaleX(0);
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  background: #0B0B0B;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: 0 50%;
  transform: scaleX(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  z-index: -1;
}

.cafetora-small-btn:hover, .cafetora-small-btn:focus, .cafetora-small-btn:active {
  color: #ffffff;
}

.cafetora-fullwidth-btn,
.wpcf7-submit {
    -webkit-transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    background: #B50405;
    border-radius: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    color: #ffffff;
    overflow: hidden;
    padding: 8px 15px;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: color, background-color;
    width: 100%;
    border: 0;
    cursor: pointer;
}

.cafetora-fullwidth-btn:hover,
.wpcf7-submit:hover {
    background: #0B0B0B;
    color: #ffffff;
}

.cafetora-medium-btn {
    -webkit-transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: color;
    background: #B50405;
    border-radius: 0;
    border: none;
    color: #ffffff;
    padding: 11px 30px;
    position: relative;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: color;
}

.cafetora-medium-btn:before {
  -webkit-transform-origin: 0 50%;
  -webkit-transform: scaleX(0);
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  background: #ffffff;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: 0 50%;
  transform: scaleX(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  z-index: -1;
}

.cafetora-medium-btn:hover, .cafetora-medium-btn:focus, .cafetora-medium-btn:active {
  color: #B50405;
}

.cafetora-small-btn:hover:before, .cafetora-small-btn:focus:before, .cafetora-small-btn:active:before, .cafetora-medium-btn:hover:before, .cafetora-medium-btn:focus:before, .cafetora-medium-btn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.white-btn {
    background: #ffffff;
    color: #B50405;
    margin-left: 10px;
}

.white-btn:before {
  background: #B50405;
}

.white-btn:hover, .white-btn:focus, .white-btn:active, .blog-btn:hover, .blog-btn:active, .blog-btn:focus {
  color: #ffffff;
}

.blog-btn:before {
  background: #333;
}

/*-----------------------------
4. Intro Section
-------------------------------*/

.intro {
    background-color: #373B44;
    background-size: cover;
    color: #ffffff;
    display: table;
    height: 100vh;
    margin: 0;
    max-width: none;
    padding: 0 5%;
    width: 100%;
}

.intro .content {
    display: table-cell;
    vertical-align: middle;
}

.intro-heading {
  color: #ffffff;
  font-size: 55px;
  position: relative;
}

.intro-heading .text-wrapper {
  display: inline-block;
  line-height: 1em;
  padding-bottom: 0.15em;
  padding-top: 0.1em;
  position: relative;
}

.intro-heading .line {
  background-color: #ffffff;
  bottom: 0;
  height: 3px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  transform-origin: 0.5 0;
  width: 100%;
}

.intro-heading .ampersand {
  font-style: italic;
  margin-left: 10px;
  margin-right: 10px;
}

.intro-heading .letters {
  display: inline-block;
  opacity: 0;
}

.intro p {
    max-width: 590px;
}

/*-----------------------------
5. Header Section
-------------------------------*/

/* 5.1. Header and Sticky Bar */

.header-area {
    padding: 0 5%;
    background: rgba(255, 255, 255, .9);
    border-bottom: 1px solid #efefef;
}

.header-area.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.admin-bar .header-area.sticky {
    top: 32px;
}

.sticky + .our-menu-block, .sticky + .cafetora-content-block {
  padding-top: 85px;
}

/* 5.2. Logo */

.logo img {
    max-width: 270px;
    padding: 18px 0;
}

.logo a {
    color: #0B0B0B;
}

.logo a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    opacity: 0.9;
}

.logo h1 {
    display: inline-block;
    font-size: 50px;
    margin: 0;
    padding: 0px;
}

.logo-text span {
    font-size: 10px;
    clear: both;
    display: block;
}

/* 5.3. Main Menu */

.main-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.main-menu li a {
    color: #333333;
    display: block;
    font-weight: 700;
    padding: 30px 15px;
    text-decoration: none;
    letter-spacing: 2px;
}

.main-menu li:hover > a {
    color: #b50405;
    text-decoration: none;
}

.main-menu li {
    -webkit-transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
    overflow: hidden;
    position: relative;
    transform: perspective(1px) translateZ(0);
    vertical-align: middle;
}

.main-menu li:before {
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: left, right;
  -webkit-transition-timing-function: ease-out;
  background: #B50405;
  content: "";
  height: 4px;
  left: 51%;
  position: absolute;
  right: 51%;
  top: 0;
  transition-duration: 0.3s;
  transition-property: left, right;
  transition-timing-function: ease-out;
  z-index: -1;
}

.main-menu li:hover:before, .main-menu li:focus:before, .main-menu li:active:before, .main-menu li.active:before {
  left: 0;
  right: 0;
}

.responsive-menu-wrap {
    display: none;
}

/*-----------------------------
6. About Us Section
-------------------------------*/
.about-us-block img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    outline-offset: -12px;
    outline: 4px solid #ffffff;
    transition: all 0.3s;
}

.about-us-block img:hover {
  outline-offset: 0px;
}

.about-us-block .col-md-3 {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
}

/*-----------------------------
7. Our Menu Section
-------------------------------*/
.single-menu-item {
  margin: 0 0 30px;
}

.single-menu-item h5 {
    margin-bottom: 5px;
    text-transform: capitalize;
}

.pricing {
    background: #B50405;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: 'Alegreya', serif;
    font-style: italic;
    font-weight: bold;
    padding: 0px 7px 2px;
}

.single-menu-item p {
    margin: 5px 0;
}

.menu-lightbox {
    display: block;
    position: relative;
    width: 115px;
    height: 115px;    
}

.menu-lightbox i.fa {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.3s ease 0s;
    color: #ffffff;
    font-size: 16px;
    left: 50%;
    line-height: 1.5;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 60%;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 20px;
    z-index: -1;
}
.menu-lightbox:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.2s ease 0s;
    background: #0B0B0B none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: -1;
    border-radius: 50%;
}
.menu-lightbox:hover i.fa {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    top: 50%;
    visibility: visible;
    z-index: 2;
}
.menu-lightbox:hover:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    opacity: 0.7;
    visibility: visible;
    z-index: 1;
}

.single-menu-item img.menu-img {
    border-radius: 50%;
    border: 3px solid #ddd;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.dotsCont {
    position: relative;
    z-index: 9;
}

.our-menu-block .owl-dots.dotsCont {
    margin-top: 20px;
}

.our-menu-block .owl-theme .owl-dot {
    color: #ffffff;
    background: #0B0B0B;
    padding: 10px 40px;
    margin: 0 1px;
    cursor: pointer;
     -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    position: relative;
}

.our-menu-block .owl-theme .owl-dot:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #B50405;
    color: #ffffff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.our-menu-block .owl-theme .owl-dot:hover, .our-menu-block .owl-theme .owl-dot:focus, .our-menu-block .owl-theme .owl-dot:active {
    color: #ffffff;
}
.our-menu-block .owl-theme .owl-dot:hover:before, .our-menu-block .owl-theme .owl-dot:focus:before, .our-menu-block .owl-theme .owl-dot:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.our-menu-block .owl-dot.active {
    background: #B50405;
}

/*-----------------------------
8. Gallery Section
-------------------------------*/

.gallery-block {
    padding-bottom: 0;
}

.gallery-block .col-sm-3 {
    padding: 0;
}

.gallery-lightbox {
    display: block;
    position: relative;
}
.gallery-lightbox img {
    width: 100%;
}

.gallery-lightbox i.fa {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.3s ease 0s;
    color: #ffffff;
    font-size: 25px;
    left: 50%;
    line-height: 1.5;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 60%;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 20px;
    z-index: -1;
}
.gallery-lightbox:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.2s ease 0s;
    background: #0B0B0B none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: -1;
}
.gallery-lightbox:hover i.fa {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    top: 50%;
    visibility: visible;
    z-index: 2;
}
.gallery-lightbox:hover:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    opacity: 0.7;
    visibility: visible;
    z-index: 1;
}

.gallery-item {
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 15px;
}

.gallery-item > div > a {
    display: block;
    line-height: 0;
    box-shadow: 0 0 0 0 transparent;
}
.gallery-columns-3 .gallery-item {
    max-width: calc(33.3% - 15px);
}
.gallery-columns-2 .gallery-item {
    max-width: calc(50% - 15px);
}
.gallery-columns-4 .gallery-item {
    max-width: calc(25% - 15px);
}


/*-----------------------------
9. Our Team Section
-------------------------------*/

.team-wrapper {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
}

.single-team-item h5, .team-single-modal h5 {
    margin-bottom: 5px;
}

.single-team-item .team-img, .team-single-modal .team-img {
    max-width: 100%;
    border-radius: 50%;
    border: 8px solid #ddd;
    margin-bottom: 15px;
    max-height: 320px;
}

.single-team-item p, .team-single-modal .top-area p {
    margin: 5px 0;
}

.team-single-modal i.fa {
    font-size: 20px;
    color: #333333;
}
.team-single-modal i.fa:hover {
    color: #B50405;
}

.team-single-modal ul {
    list-style: none;
    margin: 5px 0;
    padding: 0;
}
.team-single-modal ul li {
    display: inline-block;
    margin-right: 5px;
}
.team-single-modal ul li:last-child {
    margin-right: 0px;
}

/*-----------------------------
10. Video Section
-------------------------------*/

.video-section {
    background-size: cover;
    object-fit: cover;
    color: #fff;
}

.video-section h1{
    font-size:55px;
}

.video-section p {
    margin: 5px 0 0;
}

.video-section span {
    font-style: italic;
}

.video .modal-body {
    padding: 15px;
}

.video-section .fa {
    font-size: 80px;
    color: #B50405;
    cursor: pointer;
    background: #efefef;
    border-radius: 50%;
    height: 81px;
    width: 81px;
    margin-bottom: 20px;
}

.video-section .fa:hover {
    color: #0B0B0B;
}

/*-----------------------------
11. Testimonial Section
-------------------------------*/
.review-stars {
    list-style: outside none none;
    margin: 10px auto 5px;
    padding: 0;
    font-size: 12px;
}

.review-stars li {
    display: inline-block;
}

.review-stars i.fa {
    color: #FFD203;
    margin: 0;
    padding: 0;
}

.circle-testimonial-item img.circle {
    max-width: 100%;
    border-radius: 50%;
    border: 8px solid #ddd;
    margin-bottom: 15px;
}

.circle-testimonial-item p {
    margin: 5px 0;
}

.testimonial-slide-item-table {
    display: table;
    height: 100%;
    width: 100%;
}
.testimonial-slide-item-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #B50405;
}

/*-----------------------------
12. Blog Section
-------------------------------*/

.blog-preview {
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    height: 220px;
    margin-bottom: 20px;
}
.blog-preview img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.post-meta {
    font-size: 13px;
}
.post-meta ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.post-meta i.fa {
    margin-right: 5px;
}
.post-meta ul li:last-child {
    margin-right: 0;
}
.post-meta ul li {
    display: inline-block;
    margin-right: 10px;
}
.post-meta a {
    color: inherit;
}
.single-blog {
    background-color: #ffffff;
    -webkit-box-shadow: -2px 0 9px -2px #dddddd !important;
    box-shadow: -2px 0 9px -2px #dddddd  !important;
    color: #333;
    display: block;
    padding: 15px;
    margin-bottom: 30px;
    word-break: break-all;
}

.single-blog h3 {
    font-size: 22px;
    margin: 0 0 10px;
}

.blog .single-blog h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.single-blog > p {
    margin-top: 6px;
}
.single-blog.list {
    border-bottom: 1px dotted #e0e0e0;
    box-shadow: none;
}
.single-blog:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    cursor: pointer;
    opacity: 0.9;
    color: #333;
    text-decoration: none;
}

.navigation {
    clear: both;
    display: block;
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-top: 60px;
}

.navigation .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
}

.navigation a {
    padding: 0 30px;
    display: block;
    font-family: 'Alegreya', serif;
    color: inherit;
}

/* 12.1 Single Blog */

.comments-area {
    margin: 50px 0;
    border-top:1px solid #eef1f4;
    padding-top: 50px;
}
.comment-form-wrap input[type="text"],
.comment-form-wrap input[type="email"],
.comment-form-wrap input[type="url"],
.comment-form-wrap textarea,
.comment-respond input[type="text"],
.comment-respond input[type="email"],
.comment-respond input[type="url"],
.comment-respond textarea,
input[type="search"]{
    border: 1px solid #e0e0e0;
    padding: 10px;
    width: 100%;
}
.comment-form-wrap textarea,
.comment-respond textarea {
    height: 150px;
}
.comment-form-wrap input[type="submit"],
.comment-respond input[type="submit"],
.search-form input[type="submit"] {
    background: #B50405 none repeat scroll 0 0;
    border: medium none;
    padding: 10px 30px;
    color: #fff;
    cursor: pointer;
}
.comment-form-wrap input[type="submit"]:hover,
.comment-respond input[type="submit"]:hover {
    background: #333;
    color: #ffffff;
}

.comment-form-cookies-consent label {
    padding: 10px;
}

.comment-form-wrap input:focus, .comment-form-wrap textarea:focus,
.comment-respond input:focus, .comment-respond textarea:focus {
    border: 1px solid #B50405;
}
.reply-title {
    margin: 0 0 5px;
}
.comment-item {
    border-bottom: 1px solid #eef1f4;
    margin-bottom: 30px;
    padding-bottom: 25px;
}

ul.children .comment-item {
    border: 0;
}

.comment-item img {
    background: #fff;
    border-radius: 50px;
    border: 1px solid #e0e0e0;
    height: auto;
    padding: 2px;
     width: 90px;
}
.comment-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.comment-list ul.children{
    list-style: outside none none;
    margin-top: 30px;
    padding-top: 25px;
}

.comment-metadata h4,
.comment-metadata .name a{
    color: #222222;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
}
.comment-metadata,
.comment-metadata .comment-edit-link,
.comment-metadata .comment-time {
    color: #a3a3a3;
    font-size: 12px;
}

.comment-metadata p {
    margin: 5px 0;
}

.comment-form-wrap p
.comment-respond p {
    margin: 10px 0;
}

.logged-in-as a,
.comment-reply-link,
#cancel-comment-reply-link {
    text-decoration: none;
    color: #B50405;
}
#cancel-comment-reply-link{
    font-size: 16px;
}
.comment-title {
    margin: 0 0 30px;
}

.single-post .featured-image {
    float: right;
    padding: 10px 25px;
    max-width: 380px
}

.fullwidth-img .single-post .featured-image {
    max-width: 500px
}

.featured-image img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    outline-offset: -12px;
    outline: 4px solid #ffffff;
    transition: all 0.3s;
}

.single-post img:hover {
  outline-offset: 0px;
}


.post-title-wrap {
    margin-bottom: 30px;
}

.post-title-wrap h1 {
    margin-bottom: 10px;
    font-size: 35px;
}

.sidebar-active .post-title-wrap{
    text-align: left !important;
}

.alignleft {
    float: left;
    margin-right: 30px;
    text-align: left;
}

.alignright {
    float: right;
    margin-left: 30px;
    text-align: right;
}

.aligncenter {
    display: block;
    margin: 30px auto;
}

.wp-caption-text {
    color: #767676;
    font-size: 12px;
    line-height: 1.6;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
}

.alignnone {
    max-width:100%;
}

.entry-content:after{
    clear: both;
    content:"";
    display:table;
}

/* 12.2 Widgets */

h4.widget-title {
    font-size: 18px;
    margin: 0;
    padding: 20px 20px 2px;
}
.featured-blog {
    display: block;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 15px 5px 0 20px;
}
.featured-blog:hover {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    text-decoration: none;
}
.featured-blog h4 {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 5px;
}
.featured-blog:hover h4 {
    color: #B50405;
}
.featured-blog img {
    float: left;
    margin-right: 15px;
    max-height: 80px;
}

.featured-blog p:last-child {
    margin: 0;
}
.recent_posts li span {
    color: #8d9cad;
    display: block;
    font-size: 13px;
}
.widget {
    border-bottom: 1px dotted #e0e0e0;
    line-height: 1.5;
    margin-bottom: 20px;
}
.widget:last-child {
    border: 0;
}
.widget a {
    color: #333;
}
.widget a:hover {
    color: #B50405;
}
.widget li {
    padding-bottom: 8px;
    position: relative;
}
.widget li:before {
    font-family: fontawesome;
    content: "\f105";
    left: -10px;
    position: absolute;
    top: 0;
}
.widget ul {
    margin: 0;
    padding: 20px 20px 20px 35px;
    list-style: none;
    overflow: hidden;
}
.widget.category_list ul {
    overflow: hidden;
}
.widget.widget_categories ul li {
    float: left;
    width: 50%;
}
.widget.quote-testimonial-item {
    border: 0px dotted #EAEAEA;
    padding: 1px 15px;
}
.widget.quote-testimonial-item li:before {
    content: none;
}
.widget.quote-testimonial-item ul {
    padding: 0;
}
.widget.recent_posts li {
    padding-bottom: 15px;
}
.widget.recent_posts li a:hover {
    color: #B50405;
    text-decoration: none;
}
.widget .single-service-item {
    margin-top: 20px;
}
.sidebar {
    border: 1px solid #e0e0e0;
    padding: 5px;
}

.quote-testimonial-item h5 span {
    display: block;
    font-size: 16px;
    margin-top: 10px;
    color: #B50405;
    font-family: 'Alegreya', serif;
    font-style: italic;
    font-weight: bold;
}

.quote-testimonial-item img {
    background-color: #fff;
    border: 1px solid #EAEAEA;
    border-radius:50px;
    display: block;
    height:80px;
    margin: 0 auto 20px auto;
    padding: 3px;
    width:80px;
    -moz-transition: all 0.9s;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
}
.quote-testimonial-item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/*-----------------------------
13. Booking Form Section
-------------------------------*/

.booking-block {
    background: url('assets/img/booking-bg.png') repeat scroll left top; /* Background pattern from Toptal Subtle Patterns (https://www.toptal.com/designers/subtlepatterns/) */
}

.booking-block h5 {
    margin-bottom: 30px;
}

.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="tel"] {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 7px;
    width: 100%;
}

.booking-form input:focus, .booking-form textarea:focus {
    border: 1px solid #B50405;
}

.booking-form textarea {
    height: 91px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 7px;
    width: 100%;
}

.booking-info .table td {
    padding: 3px 0;
}

/*-----------------------------    
14. Google Map Section
-------------------------------*/

.gmap_outer {
    overflow: hidden;
    position: relative;
}
.gmap {
    padding: 0;
    height: 400px;
}
.gmap.border {
    box-shadow: -2px 0 9px -2px #dddddd;
    padding: 8px;
}
#map1 {
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
    -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
}

/*-----------------------------
15. Footer Area
-------------------------------*/
.footer-top-area {
    border-top: 1px solid  #efefef;
    border-bottom: 1px solid  #efefef;
}

.footer-top-area a {
    color: #333333;
}

.footer-contact ul {
    list-style: none;
    padding: 0;
}

.footer-contact i.fa {
    margin-right: 8px;
}

.footer-contact ul li:first-child i.fa {
    margin-right: 5px;
}

.footer-contact ul li:last-child i.fa {
    margin-right: 12px;
}

.footer-social ul {
    margin: 0;
    padding: 0;
}

.footer-social i.fa {
    font-size: 22px;
    color: #333333;
    margin-right: 5px;
}
.footer-top-area a:hover, .footer-social i.fa:hover {
    color: #B50405;
}
.footer-social ul li {
    display: inline-block;
    
}
.footer-social ul li:last-child {
    margin-right: 0px;
}
.footer-widget .widget-title {
    margin-bottom: 20px;
}
.footer-widget ul {
    padding: 0;
    list-style-type: none;
}
/* Instafeed */
#instafeed a {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
}

#instafeed a:hover {
    opacity: 0.8;
}

/* Newsletter */

.newsletter-form input[type="text"],
.newsletter-form input[type="email"] {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 7px;
    width: 100%;
}

.newsletter-form input:focus {
    border: 1px solid #B50405;
}

/*-----------------------------
16. Copyright
-------------------------------*/

.footer-copyright-area {
    padding: 12px 0;
    background: #0B0B0B;
    color: #ffffff;
}

.footer-copyright-area a {
    color: #ffffff;
}

.footer-copyright-area a:hover {
    color: #B50405;
}

.foot-credit {
    text-align: right;
}

/* Back to Top Button */

.go-top {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 2em;
	color: #ffffff;
	display: none;
	font-size: 12px;
	padding: 1em;
	position: fixed;
	right: 2em;
	text-decoration: none;
    -webkit-transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: color, background-color;
    z-index: 1;
}

.go-top:hover {
	background-color: rgba(181, 4, 5, 1);
    color: #ffffff;
}

/*-----------------------------
17. Responsive CSS
-------------------------------*/
/* Large Layout */
@media only screen and (min-width: 1601px) { 
.intro-heading {
    font-size: 75px;
}
    
.intro p {
    max-width: 795px;
}
}

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
.intro-heading, .section-heading h1, .video-section h1 {
    font-size: 45px;
}
.main-menu li a {
    padding: 30px 5px;
    letter-spacing: 1px;
}
.single-menu-item img, .menu-lightbox {
    height: 90px;
    width: 90px;
}
    
.intro p {
    max-width: 485px;
}
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.intro-heading, .section-heading h1, .video-section h1 {
    font-size: 34px;
}
.intro p {
    max-width: 372px;
}
.logo h1 {
    display: block;
    text-align: center;
}
.main-menu ul {
    text-align: center;
}
.main-menu li a {
    padding: 30px 8px;
    letter-spacing: 2px;
}
.sticky .logo {
    display: none;
}
.about-us-block h3 {
    margin-top: 25px;
}
.modal-dialog {
    max-width: 600px;
    margin: .5rem auto;
}
.single-menu-item img, .menu-lightbox {
    height: 65px;
}
.circle-testimonial-item img {
    border: 5px solid #ddd;
}
.footer-copyright-area {
    font-size: 13px;
}
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
.section-padding {
    padding: 60px 0;
}
    
.gallery-block {
    padding-bottom: 0;
}
    
.intro-heading, .section-heading h1, .video-section h1 {
    font-size: 40px;
}
    
.intro-heading .line {
    top: -40px;
}
    
.intro-heading .line2 {
    top: 40px;
}
    
.logo img {
    max-width: 100%;
    padding: 22px 0;
    max-height: 80px;
}
    
.about-us-block h3 {
    margin-top: 25px;
}
    
.modal-dialog {
    max-width: 250px;
    margin: .5rem auto;
}

    
.sticky + .about-us-block {
  padding-top: 120px;
}
    
.main-menu {
    display: none;
}

.responsive-menu-wrap {
    display: inline-block;
    float: right;
    margin-top: 16px;
}
.responsive-menu-wrap .slicknav_menu {
    background: #222222;
    margin: 0;
    padding: 0;
}

.responsive-menu-wrap .slicknav_nav a:hover {
    background: #B50405;
    color: #fff;
}

.responsive-menu-wrap .slicknav_btn {
    padding: 5px;
    font-size: 13px;
}
    
.single-menu-item, .circle-testimonial-item {
    text-align: center;
}
    
.single-menu-item img, .circle-testimonial-item img, .menu-lightbox {
    max-width: 200px;
    height: 200px;
    margin: 0 auto 20px;
}

.single-team-item, .circle-testimonial-item, .footer-widget {
    margin-bottom: 50px;
}
    
.team-block, .footer-top-area {
    padding-bottom: 10px;
}
    
.booking-form {
    margin-top: 50px;
}
    
.footer-copyright-area, .foot-credit {
    font-size: 12px;
    text-align: center;
}
    
.cafetora-medium-btn {
    padding: 7px 15px;
}
    
.our-menu-block .owl-theme .owl-dot {
    padding: 5px 15px;
}
}
    
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
.modal-dialog {
    max-width: 450px;
    margin: .5rem auto;
}

.intro-heading .line, .intro-heading .line2 {
    top: 0px;
}
    
.intro-heading {
    font-size: 35px;
}
    
.intro p {
    max-width: 384px;
}
    
.cafetora-medium-btn {
    padding: 11px 30px;
}
    
.our-menu-block .owl-theme .owl-dot {
    padding: 10px 40px;
}
}